<footer class="navbar fixed-bottom justify-content-start">
    <!-- <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/settings"><i class="fas fa-cog"></i> Settings</a>
        </li>
    </ul> -->
    <h5><a class="nav-link text-info" href="/about">What is UResearcher?</a></h5>
</footer>